:host {
    display: block;
  }
  .content  {
    padding: 20px 8vw;
    padding: 30px clamp(30px,8vw,100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: clamp(40px, 6vw ,60px);
    max-width: 2500px;
    margin: auto;
}
.slider_view {
    display: flex;
    gap: 10vw;
    width: 100%;
    align-items: center;
}
.slider_view_img {
    width: calc((100% - 10vw)/2);
    max-height: 500px;
    height: 23vw;
    min-height: 230px;
    position: relative;
    
}
@keyframes appear_img {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.slider_view_img img {
  animation: appear_img 1s ease-in-out;
}

.content_text {
    width: calc((100% - 10vw)/2);
    position: relative;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* gap: clamp(10px, 5%, 60px); */
}
.upper_text , .lower_text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: clamp(10px, 5%, 60px);
  overflow: hidden;

}
.upper_text {
  padding-top: clamp(10px, 5%, 60px);
}
.lower_text {
  padding-bottom: clamp(10px, 5%, 60px);
}
.location {
  color: #202020c9;
  /* font-size: 14px; */
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  font-size: clamp(14px, 0.94vw ,30px);
}
.location svg {
  transform: rotate(-3deg) translate(0px, 1px);
  color: #202020c9;
}
.title {
  color: var(--black);
  /* font-size: 36px; */
  font-size: clamp(20px, 2.4vw ,60px);
  font-weight: 700;
  position: relative;

}
.normal_animation .location {
  animation: moreslideUp 1s forwards ease-in-out , moreFadeup 1s 4s forwards ease-in-out; 
}
.normal_animation .title {
  animation: slideUp 1s forwards ease-in-out, fadeup 1s 4s forwards ease-in-out;
}
.slide_animation .location span {
  animation: move 1s forwards ease-in-out !important;
}
.slide_animation .title {
  animation: fadeInappear 1s forwards ease-in-out !important;
}
/* Animation for sliding up and down */
@keyframes fadeInappear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(155%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeup {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200%);
  }
}
@keyframes moreslideUp {
  from {
    transform: translateY(550%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moreFadeup {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(720%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-190%); 
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeDown {
  from {
    transform: translateY(0); 
  }
  to {
    transform: translateY(-190%);
  }
}
@keyframes moreslideDown {
  from {
    transform: translateY(-350%); 
  }
  to {
    transform: translateY(0);
  }
}
@keyframes morefadeDown {
  from {
    transform: translateY(0); 
  }
  to {
    transform: translateY(-500%);
  }
}


.slider_view_img::after {
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: translate(0px,8px);
    border-radius: 12px;
    border: 3px solid var(--primary-color);
    height: 99%;
    width: 99%;
}
.slider_view_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    border-radius: 12px;
    transform: translate(8px,0px);
}

.separted_line {
    height: 1px;
    background-color: var(--black);
    width: 100%;
    position: relative;
    
}
.separted_line::before {
  content: " ";
  position: absolute;
  border-radius: 50%;
  background-color: var(--black);
  width: 6px;
  height: 6px;
  top: 50%;
  right: 0px;
  transform: translate(0%, -50%);
}
.view_describtion {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  opacity: 0.7;
  position: relative;
  font-size: clamp(14px, 1.16vw , 40px);
}
.normal_animation .view_describtion {
  animation: slideDown 1s forwards ease-in-out , fadeDown 1s 4s forwards ease-in-out;
}
.btn {
  display: flex;
  padding: clamp(8px,0.76vw,20px)  clamp(18px,1.6vw,60px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 41px;
  width: max-content;
  font-size: clamp(12px, 1vw,30px);
  font-weight: 700;

}
.normal_animation .primary-btn {
  animation: moreslideDown 1s forwards ease-in-out , morefadeDown 1s 4s forwards ease-in-out; 
}
.primary-btn {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  position: relative;
  margin-top: clamp(7px, 4%, 60px);
}







/* Six columns side by side */








@media screen and (max-width: 600px) {
  .slider_view {
    flex-wrap: wrap;
  }
  .slider_view_img , .content_text{
    width: 100%;
  }
}





















button:focus {
  outline: none;
}

.active {
  opacity: 1;
  transform: scale(1.05);
}

.slider_container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prev_button,
.next_button {
color: var(--black);
border: none;
cursor: pointer;
font-size: 25px;
width: 30px;
}

.prev_button {
left: 10px;
}

.next_button {
right: 10px;
}
.slider_content {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.slider_content_image {
  height: 4.3vw;
  min-height: 35px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;  
  
}
.slider_content_title {
  color: #000;
  font-size: 14px;
  font-size: clamp(11px,0.92vw,20px);
  font-weight: 400;
}
.column {
  float: left;
  /* width: 16.66%; */
  width: calc((100% - (4% * 4))/5);
  border-radius: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.50);
  background: rgba(255, 242, 242, 0.40);
  display: flex;
  flex-direction: column;
  padding: clamp(8px,0.77vw,20px);
  gap: clamp(6px,0.7a7vw,20px);
}
.active-image .gray_gradient {
  display: block;
  animation: gradient 6s ease-in-out;
}
.demo{
  filter: grayscale(100%);
  background: lightgray 50% / cover no-repeat;
}

.gray_gradient {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.677);
}
.gray_gradient img {
  object-fit: cover;
  width: 100%;
  height: 100%;

} 
@keyframes gradient {
  0%   {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}




@media screen and (max-width:1000px) {
  .column {
    width: calc((100% - (4% * 3))/4);
  }
}
@media screen and (max-width:630px) {
  .column {
    width: calc((100% - (4% * 2))/3);
  }

}
@media screen and (max-width:430px) {
  .column {
    width: calc((100% - (4% * 1))/2);
  }
}